#fondo{
    background: url('../IMG/design1_image1.jpg');
    height: 400px;
    background-size:cover;
    background-position: center;
}

a:active{ /*no funciona...*/
    text-decoration: none;
}

h1{
    position: absolute;
    font-size: 50px;
    left: 55px;
    top: -15px;
}

h2{
    background-color: black;
    color: aliceblue;
    padding: 0.5rem 0;
    text-align: center;
}

/* img{
    width: 100px;
} */

#logo img{
    width: 100px;
    float: right;
}

.img-left img{
    width: 300px;
    float: right;
    margin-top: 70px;
}