*{
    margin: 0;
    box-sizing: border-box;
}

/*---- HEADER -----*/

header, main{
    float: left;
    width: 100%;
    padding: 2%;
}

.header{
    position: relative;
    left: 150px;
}

nav{
    position: relative;
    top: -100px;
}
#logo{
    position: relative;
    top: -50px;
}
/*TODAS LAS IMAGENES*/
img{
    width: 100px;
}

/* ---- MAIN ----- */

aside{

}
